<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- ?????????????????????????????? -->
	<import resource="dataSource.xml" />
	<!-- ibatis???????????? -->
	<import resource="ibatis.xml" />
	<!-- spring bean???????????? -->
	<import resource="map-sys.xml" />
	<import resource="map-bl.xml" />
	<!-- ?????????????????? -->
	<import resource="transaction.xml" />
</beans>