<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 数据库连接池配置文件 -->
	<import resource="dataSource.xml" />
	<!-- ibatis属性配置 -->
	<import resource="ibatis.xml" />
	<!-- spring bean配置文件 -->
	<import resource="map-sys.xml" />
	<import resource="map-bl.xml" />
	<!-- 事务配置文件 -->
	<import resource="transaction.xml" />
</beans>